@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=VT323&display=swap');

body {
    background-color: yellowgreen;
    font-family: "VT323", monospace;
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    justify-content: center;
    padding: 40px;
    border: 8px black solid;
    border-radius: 20px;
    margin: auto auto;
    background-color: rgb(104, 104, 227);
}

h1 {
    text-align: center;
    font-size: 45px;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    width: 600px;
    height: 600px;
    border: 5px solid black;
    background-color: beige;
}

#settings {
    display: flex;
    flex-direction: column;
}

#color {
    border-right: 5px solid black;
    padding: 20px;
    background-color: coral;
}

p {
    font-size: 22px;
}

#black,
#colorpicker {
    width: 80px;
    height: 30px;
    padding: 5px;
    margin-right: 2px;
}

#dimensions {
    display: flex;
    flex-direction: column;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 1px solid black;
    background-color: coral;
    padding: 10px;
}

#grid-size {
    margin-bottom: 5px;
    border: 0.5px solid black;

}

#colorbtn {
    display: flex;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#clear-grid {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 1px solid black;
    border-left: none;
    padding: 10px;
    background-color: coral;
}

#confirm-button,
#delete-grid,
#colorpicker,
#black {
    background-color: darkkhaki;
    border: 0.5px solid black;

}